<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />

@model IEnumerable<Test.Controllers.Vertegenwoordiger>
@{
    ViewData["Title"] = "Testerdetest";
}

<div class="container">
    <div class="row">
        <select class="selectpicker" data-show-subtext="true" data-live-search="true">
            @foreach (var item in Model)
            {
                <option>@Html.DisplayFor(modelItem => item.Name)</option>
            }
        </select>
        <a class="btn btn-danger rounded" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa fa-plus"></i>
        </a>
    </div>
</div>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
        @await Component.InvokeAsync("Vertegenwoordiger")
    </div>
</div>
<br />

<form>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>




